[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/randomness-solidity"]
	path = lib/randomness-solidity
	url = https://github.com/randa-mu/randomness-solidity
